/* WRAPPER */
.wrapper{
    width:100%;
    max-width: 720px;
    margin:auto;
    padding: 10px;
}
.header{
    &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    &__title{
        color: #fff;
    }
    &__diviver{
        color: #fff;
    }
}
.hidden{
    display: none;
}